.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  transform-origin: 47%;
  height: 64px;
  filter: blur(4px);
  position: absolute;
  left: 25px;
}

.app-header {
  background-color: black;
  background: no-repeat url('../img/nano-bg.jpg') -50px -100px black;
  padding: 20px;
  display: inline-block;
  width: 100%;
}

.app-header h2{
  color: white;
  display: inline-block;
  padding-left: 0.5em;
}

.app-header input{
  display: inline-block;
  width: 90%;
  max-width: 400px;
  margin-top: 10px;
}

.app-body {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
