html{
  background-color: rgba(62, 123, 130, 0.3);
}

.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  transform-origin: 47%;
  height: 64px;
  filter: blur(4px);
  position: absolute;
  left: 25px;
}

.app-header {
  background-color: black;
  background: no-repeat url('../img/nano-bg.jpg') -50px -100px black;
  height: 60px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 0 5px 8px 0 rgba(102, 102, 102, 0.75);
}

.app-header h2{
  color: white;
  display: inline-block;
  padding-left: 0.5em;
  filter: blur(1px);
  font-size: 3em;
}

.app-header input{
  display: inline-block;
  width: 90%;
  max-width: 400px;
  margin-top: 10px;
  font-size: x-large;
}

.app-body {
  font-size: large;
  margin-top: 100px;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
