.cart {
    position: fixed;
    top: 100px;
    margin-top: 20px;
    right: 20px;
    max-width: 420px;
    min-width: 200px;
    width: 30%;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0.25em;
    margin-bottom: 2em;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(102, 102, 102, 0.75);
    user-select : none;
}


.cart:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 10px 16px 0 rgba(102, 102, 102, 0.75);
}


.cart .header{
    background-color: #ffe100;
    width: 100%;
    padding-top: 1em;
    text-align: left;
}

.cart .header img{
    height: 2em;
    margin-left: 1em;
}

.cart .row:first-child{
    margin-left : 4px;
}

.cart p{
    text-align: justify;
    height: 128px;
    overflow-y: auto;
    padding: 1em;
}