.loading-indicator-container {
    position: fixed;
    right: 1.5em;
    top: 0.5em;
    z-index: 10;
    color: white;
    opacity: 0.95;
}

.loading-indicator.hidden {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.loading-indicator {
    opacity: 0.95;
    transition: opacity 0.25s ease-in-out;
}
