.notification-container {
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 1em;
    width: 30%;
    min-width: 120px;
    margin: 0 auto;
    z-index: 10;
}

.notification-container .notification {
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 5px ;
    font-size: 1em;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}

.notification-container .notification:last-child {
    margin-bottom: 0;
}

.notification-container .notification .notification-icon {
    display: inline-block;
    width: 50px;
    font-size: 1.3em;
    vertical-align: middle;
}

.notification-container .notification .notification-message {
    display: inline-block;
}

.notification-container .notification.success-notification {
    background-color: rgb(121, 210, 123);
}

.notification-container .notification.error-notification {
    background-color: rgb(216, 136, 135);
}

.notification-container .error-notification .close-message {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.69);
}
