.product {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0.25em;
    margin-bottom: 2em;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    max-height: 420px;
    background-color: white;
    user-select : none;
}


.product h5{
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 5px 8px 0 rgba(102, 102, 102, 0.75);
}

.product .loading-indicator {
    width: 100%;
    height: 120px;
}

.product img.loading-icon{
    padding-top: 30px;
    max-height: 50%;
    margin : auto;
    filter: blur(1px);
}

.product img.product-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.product p {
    text-align: justify;
    height: 128px;
    max-height: 128px;
    overflow-y: auto;
    padding: 1em;
}